<tr>
  <td class="align-middle"><%= badge.name %></td>
  <td class="align-middle"><%= badge.filename %></td>
  <td class="align-middle"><%= badge.rule.titleize %></td>
  <td class="align-middle"><%= status(badge) %></td>
  <td><%= link_to 'Delete', admin_badge_path(badge),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>
  </td>
</tr>
