<div class="container">
  <h1>Badges</h1>

  <p><%= link_to "New Badge", new_admin_badge_path %></p>

  <table class="table">
    <tr>
      <th scope="col"><%= t('.level') %></th>
      <th scope="col"><%= t('.questions') %></th>
      <th scope="col" colspan="3"><%= t('.actions') %></th>
    </tr>

    <%= render @badges %>

  </table>
</div>
