<% if user_signed_in? %>
  <p>
    <td><%= link_to 'Test Guru', tests_path %></td><br>
    <td>Welcome, <%= current_user.name %> Guru</td><br>
    <td><%= link_to 'Logout', destroy_user_session_path, method: :delete %></td>
  </p>
<% else %>
  <p>
    <td><%= link_to 'Log In', new_user_session_path %></td><br>
    <td><%= link_to 'Sign Up', new_user_registration_path %></td>
  </p>
<% end %>
