<h2><%= t('.header', title: @test_completion.test.title) %></h2>

<p>
<% if @test_completion.success? %>
  <div><%= t('.sucess') %>
  <span style="color: green;"><%= @test_completion.result %></span>
  </div>
<% else %>
  <div><%= t('.failure') %>
  <span style="color: red;"><%= @test_completion.result %></span>
  </div>
<% end%>
</p>

<p><%= link_to t('.index'), tests_path %></p>
